.work_system_page_container {
  width: 80%;
  height: 400px;
  background-color: aquamarine;
  margin: 0 auto;
  padding: 50px;
  margin-top: 50px;
}

.work_system_page_container h3 {
  text-align: center;
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 500;
  opacity: 0;
  transition: 2s;
  transform: translateY(60px);
}
.work_system_page_container .animation_active {
  opacity: 1;
  transform: translateY(0);
}
